// Mobile responsive
@media screen and (max-width: 835px) {

    // Mobile - Layout - Primary and secondary elements
    .layout {
        flex-direction: column-reverse;
        padding: 0 $size-medium 0 $size-medium;
    }

    .layout--main {
        margin: 0;
    }

    header {
        margin-top: $size-medium;
    }

    .header {
        margin-top: $size-x-large;
        span {
            font-size: 95px;
            line-height: 100px;
        }
    }

    .message {
        span {
            line-height: 110px;
        }
    }

    .column--block {
        margin-right: 0;
        margin-bottom: $size-large;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .project--block {
        margin-right: 0;
        margin-bottom: $size-medium;
        &:last-child {
            margin-bottom: 0;
        }
    }
    
    .mobile-row {
        margin-bottom: 0;
    }

    // Mobile - Menu
    .menu {
        justify-content: flex-end;
    }

    // Mobile - Footer
    .footer {
        margin-bottom: $size-medium;
    }

    .right {
        text-align: center !important;
        margin-top: $size-medium;
    }

    // Mobile - Design elements
    .m-flex-row {
        flex-direction: column;
    }

    .background-dark {
        padding: 0;
        background: none;
    }

}

@media screen and (max-width: 420px) {

    .header {
        span {
            font-size: 75px;
            line-height: 80px;
        }
    }

}