// Mobile responsive
@media screen and (max-width: 680px) {

    // Mobile - Layout - Primary and secondary elements
    .layout {
        flex-direction: column-reverse;
        padding: 0 $size-medium 0 $size-medium;
    }

    header {
        margin-top: $size-medium;
    }

    .header {
        span {
            font-size: 50px;
        }
    }

    // Mobile - Menu
    .menu {
        justify-content: flex-end;
    }

    // Mobile - Design elements
    .m-flex-row {
        flex-direction: column;
    }
}