// Start Tablet

@media screen and (max-width: 1130px) {

    .layout {
        width: 100%;
    }

    .layout--main {
        margin: $size-medium;
    }

    .aside {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        margin: 0;
        width: 100%;
        background: $main-color; 
        display: none;
        overflow-y: scroll;
        height: 100%;
    }

    .aside--content {
        .image {
            display: inline-block;
            height: 300px;
        }
    }

    .aboutme {
        display: block;
        border-radius: 50%;
        float: left;
        margin-right: $size-small;
        cursor: pointer;
        i {
            font-size: 80px;
            margin-right: $size-small;
        }
        img {
            //box-sizing: border-box;
            height: 80px;
            width: 100%;
            border-radius: 50%;
            //border: 2px solid $orange-color;
        }
    }

    .close-aside {
        color: $orange-color;
        font-size: 60px;
        margin: 24px 24px 0px 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        i {
            cursor: pointer;
        }
        span {
            font-family: $heading-font;
            font-size: 20px;
            margin-right: $size-small;
            cursor: pointer;
        }
    }

    .aside-active {
        display:inline-block;
    }

    .footer {
        margin-bottom: 0;
    }

}