.aside--content {
    .image {
        background-image: url("../img/joakim-profile_image.png");
        background-size: cover;
        background-position: center;
        transform: scaleX(-1); // Maybe delete this one?
        width: inherit;
        height: 250px;
        margin-top: 24px;
    }
    .block {
        box-sizing: border-box;
        background: $main-color-20;
        padding: $size-small;
        margin-bottom: $size-small;
    }
}