.aside--content {
    .image {
        width: inherit;
        min-height: 300px;
        margin-top: 24px;
        background: $main-color-20;
        img {
            width: 100%;
            transform: scaleX(-1);
        }
    }
    .block {
        box-sizing: border-box;
        background: $main-color-20;
        padding: $size-medium;
        margin-bottom: $size-small;
        font-size: 20px;
    }
    .block--content {
        margin-bottom: $size-medium;
        .block-heading {
            font-family: $heading-font;
            font-weight: bold;
            color: $brown-color;
            text-transform: uppercase;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .name {
        font-weight: bold;
        color: $orange-color;
    }
}

.info-text {
    overflow-y: scroll;
}