.aside--content {
    .image {
        width: inherit;
        min-height: 300px;
        margin-top: 24px;
        background: $main-color-20;
        img {
            width: 100%;
            transform: scaleX(-1);
        }
    }
    .block {
        box-sizing: border-box;
        background: $main-color-20;
        padding: $size-medium;
        margin-bottom: $size-small;
        font-size: 20px;
    }
    .block--content {
        margin-bottom: $size-medium;
        .block-heading {
            display: inline-block;
            font-family: $heading-font;
            font-weight: bold;
            color: $brown-color;
            text-transform: uppercase;
            padding-bottom: $size-mini;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .name {
        font-weight: bold;
        color: $orange-color;
    }
}

.aside-icons {
    width: 24px;
    &.aside-icons-medium {
        width: 32px;
    }
}

.info-text {
    overflow-y: auto;
}

.block-social-icons {
    display: flex;
    justify-content: space-evenly;
    a {
        color: $main-color-50;
        &:hover {
            color: $link-color;
        }
    }
    i {
        font-size: $size-medium;
    }
}