// Local Heading font import <-- My old fonts.
/* @font-face {
    font-family: 'commodore_64_roundedregular';
    src: url('../assets/fonts/commodore_rounded-webfont.woff2') format('woff2'),
         url('../assets/fonts/commodore_rounded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

// Main fonts import
@font-face { 
    font-family: 'blender-pro-heavy';
    src: url('../assets/fonts/blenderpro/BlenderPro-Heavy.woff') format('woff');
}

@font-face { 
    font-family: 'blender-pro-regular';
    src: url('../assets/fonts/blenderpro/BlenderPro-Book.woff') format('woff');
}

// Google font import
//@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@200;400;600;700&display=swap');

// Google fonts Icons
/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
} */

// Colors
$main-color: #F5EFD3;
$main-color-20: #EEE8CF;
$main-color-50: #CBC5AE;
$secondary-color: #EC8133;
$orange-color: #D74E24;
$link-color: #D74E24;
$brown-color: #4C0821;
$gray-color: #545145;

// Fonts
//$text-font: 'Cabin', sans-serif;
$text-font: blender-pro-regular;
$heading-font: blender-pro-heavy;

// Spacing
$size-mini: 8px;
$size-small: 16px;
$size-medium: 32px;
$size-large: 56px;
$size-x-large: 128px;
$size-super-large: 156px;

// Body
body {
    background: $main-color;
    font-family: $text-font;
    overflow-y: auto;
    overflow-x: hidden;
}

// Text
h1, h2, h3, h4 {
    font-family: $heading-font;
    font-size: 59px;
    color: $brown-color;
    padding: 0;
    margin: 0;
}

h2 { font-size: 42px; margin-bottom: $size-large; }
h3 { font-size: $size-medium; font-family: $text-font; color: $secondary-color; font-weight: 700; margin-bottom: $size-small; }

p {
    font-family: $text-font;
    color: $gray-color;
    font-size: 20px;
    margin: 0;
    line-height: 26px;
}

a {
    color: $orange-color;
    text-decoration: none;
}

// Design elements
hr { margin-bottom: $size-medium; }

.height-max { height: 100%; }

.display-none { display: none !important; }
.display-flex { display: flex; }

.justify-center { justify-content: center; }
.justify-space { justify-content: space-between; }

.text-center { text-align: center; }

.flex-one { flex: 1; }

.background-dark { background: $main-color-20; padding: $size-medium; }

.cursor-shape { color: $orange-color;}

// Animations
@keyframes blinker {  
    50% { opacity: 0; }
  }