// Local Heading font import
@font-face {
    font-family: 'commodore_64_roundedregular';
    src: url('../assets/fonts/commodore_rounded-webfont.woff2') format('woff2'),
         url('../assets/fonts/commodore_rounded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Google font import
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');

// Colors
$main-color: #F5EFD3;
$main-color-20: #EEE8CF;
$main-color-50: #CBC5AE;
$secondary-color: #EC8133;
$orange-color: #D74E24;
$link-color: #D74E24;
$brown-color: #4C0821;
$gray-color: #545145;

// Fonts
$text-font: 'Cabin', sans-serif;
$heading-font: commodore_64_roundedregular;

// Spacing
$size-mini: 8px;
$size-small: 16px;
$size-medium: 32px;
$size-large: 56px;
$size-x-large: 128px;

// Body
body {
    background: $main-color;
    font-family: $text-font;
    overflow-y: auto;
    overflow-x: hidden; // Ugly hack. Something is not working vith the horizontal scroll.
}

// Text
h1, h2, h3, h4 {
    font-family: $heading-font;
    font-size: 59px;
    color: $brown-color;
    padding: 0;
    margin: 0;
}

h2 { font-size: 32px; margin-bottom: $size-large; }
h3 { font-size: 24px; font-family: $text-font; color: $secondary-color; font-weight: 700; margin-bottom: $size-small; }

p {
    color: $gray-color;
    font-size: 1rem;
    margin: 0;
    line-height: 28px;;
}

// Design elements
.display-none { display: none; }

.text-center {
    text-align: center;
}