.header {
    margin-bottom: $size-x-large;
    span {
        font-family: $heading-font;
        font-size: 145px;
        color: $orange-color;
        text-transform: uppercase;
        line-height: 130px;
    }
}

.header--message {
    display: inline-block;
    .message {
        font-size: $size-large;
        margin-bottom: $size-large;
        span {
            font-weight: bold;
        }
    }
    span {
        background: $orange-color;
        color: $main-color;
        padding: 6px 8px 6px 8px;
    }
    p {
        font-size: $size-medium;
        line-height: 38px;
    }
}