// Main layout blocks
.container {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.layout {
    width: 1440px;
    display: flex;
}

.layout--main {
    width: 1130px;
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 155px;
}

section {
    margin-bottom: $size-x-large;
}

aside {
    width: 310px;
    > .aside-left {
        position: fixed;
        width: 50px;
    }
}