// Main layout sections
header {
    margin-bottom: 155px;
}

section {
    margin-bottom: $size-x-large;
}

aside {
    width: 310px;
}

// Primary and secondary elements
.container {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.layout {
    width: 1440px;
    display: flex;
}

.layout--main {
    width: 1130px;
    display: flex;
    flex-direction: column;
}

.aside {
    position: fixed;
    width: inherit;
}

.aside--content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-right: $size-medium;
}