.project {
    display: flex;
    //width: 250px;
    background: $brown-color;
    padding: $size-medium;
    flex-direction: column;
    border-radius: 8px;
}

.project--description {
    .title {
        display: inline-block;
        font-size: $size-medium;
        font-family: $text-font;
        color: $secondary-color;
        font-weight: 700;
        margin-bottom: $size-small;
    }
    p {
        color: $main-color;
        font-size: 18px;
    }
}

.project--links {
    display: flex;
    margin-bottom: $size-medium;
    align-items: center;
    justify-content: space-between;
    .project-icon {
        width: 48px;
        height: 48px;
        color: $main-color;
    }
    .links {
        justify-content: space-between;
        display: flex;
        height: 32px;
        width: 74px;
        color: $orange-color;
    }
}